<div fxLayout="row">

    <div fxFlex.gt-sm="100%">
        <mat-card>
            <mat-card-content>
                <div class="d-flex no-block align-items-center b-b m-b-30 p-b-15">
                    <h4 class="font-medium m-b-0 m-t-0">Liste des taches</h4>
                </div>
                &nbsp;&nbsp;
                <mat-form-field appearance="fill" style="width:25%">
                    <mat-label>Projets</mat-label>

                    <mat-select required [value]="selectedProject" (selectionChange)="projetChange($event)">
                        <mat-option [value]="projet.codeProjet"
                            *ngFor="let projet of projets">{{projet.intituleProjet}}</mat-option>
                    </mat-select>
                </mat-form-field>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field class="search-form-field" floatLabel="never" style="width: 20%;">
                    <input matInput [(ngModel)]="searchKey" placeholder="Recherche" autocomplete="off"
                        (keyup)="applyFilter()">
                    <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="searchKey"
                        (click)="onSearchClear()">
                        <mat-icon> close</mat-icon>
                    </button>
                </mat-form-field>
                &nbsp;&nbsp;
                <button mat-raised-button color="primary"  (click)="openDialog('Add', {})">
                    <mat-icon>create_new_folder</mat-icon>
                </button>

                <div class="mat-elevation-z8">
                    <mat-table [dataSource]='dataSource' matSort>

                        <ng-container matColumnDef="code">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> <b> Code </b> </mat-header-cell>
                            <mat-cell *matCellDef="let tache">{{tache.codeTache}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="intitule">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> <b> Intitule </b> </mat-header-cell>
                            <mat-cell *matCellDef="let tache">{{tache.intituleTache}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="chargeHoraire" >
                            <mat-header-cell *matHeaderCellDef mat-sort-header> <b> charge Horaire </b></mat-header-cell>
                            <mat-cell *matCellDef="let tache">{{tache.chargeHoraireTache}} </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef> <b> Actions </b></mat-header-cell>
                            <mat-cell *matCellDef="let tache">
                              

                                <!-- <a (click)="openDialog('Update', tache)" class="m-r-10 cursor-pointer"
                                ><mat-icon class="text-success">remove_red_eye</mat-icon></a> -->

                                <a (click)="openDialog('Update', tache)" class="m-r-10 cursor-pointer"
                                ><mat-icon class="text-info">create</mat-icon></a>
                                <a (click)="openDialog('Delete', tache)" class="m-r-10 cursor-pointer"> 
                                <mat-icon class="text-danger">delete</mat-icon>
                                </a>


                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="10" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>