<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->

<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="33.3" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <!-- Row -->
          <div class="d-flex no-block">
            <!-- column -->
            <div class="m-r-10 no-shrink">
              <button mat-fab mat-card-icon class="shadow-none bg-inverse bg-success">
                <mat-icon>account_circle</mat-icon>
              </button>
            </div>
            <!-- column -->
            <div>
              <h3 class="m-0">0{{currentNbTaskValidated}}</h3>
              <h6 class="text-muted m-0">Tâches validées</h6>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="33.3" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <!-- Row -->
          <div class="d-flex no-block">
            <!-- column -->
            <div class="m-r-10 no-shrink">
              <button mat-fab color="warn" mat-card-icon class="shadow-none bg-warning">
                <mat-icon>local_mall</mat-icon>
              </button>
            </div>
            <!-- column -->
            <div>
              <h3 class="m-0">0{{currentNbTaskDone}}</h3>
              <h6 class="text-muted m-0">Tâches à valider</h6>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="33.3" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <!-- Row -->
          <div class="d-flex no-block">
            <!-- column -->
            <div class="m-r-10 no-shrink">
              <button mat-fab color="accent" mat-card-icon class="shadow-none">
                <mat-icon>stars</mat-icon>
              </button>
            </div>
            <!-- column -->
            <div>
              <h3 class="m-0">0{{currentNbCollabs}}</h3>
              <h6 class="text-muted m-0">Collaborateurs</h6>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- column -->
    
  </div>
  